<!DOCTYPE html>
<html lang="en" data-th-replace="~{base::parent(~{::#content},~{::title},~{})}">

<head>
    <title>Signup</title>
</head>

<body>
    <div id="content">
        <div class="grid grid-cols-12">
            <div class="col-span-4 md:col-span-2 lg:col-span-3 xl:col-span-4"></div>
            <div class="col-span-12 md:col-span-8 lg:col-span-6 xl:col-span-4">
                <div
                    class="block p-6 bg-white border-t-[10px] border-blue-500 rounded-lg shadow hover:bg-gray-200 dark:bg-gray-800 dark:border-blue-500 dark:hover:bg-gray-950">
                    <div data-th-replace="message::messagebox"></div>
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Sign up here</h5>

                    <p class="font-normal text-gray-700 dark:text-gray-400">Start managing contact...</p>

                    <form data-th-action="@{'/do-register'}" method="post" data-th-object="${userForm}" class="mt-4" novalidate>
                        <div class="mb-3">
                            <label for="name"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                            <input data-th-field="*{name}" type="text" id="name"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="name@flowbite.com" required />
                            <p data-th-if="${#fields.hasErrors('name')}" data-th-errors="*{name}"
                                class="text-red-600 px-1 py-2 dark:text-red-200">
                                Name is required
                            </p>
                        </div>
                        <div class="mb-3">
                            <label for="email"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                            <input data-th-field="*{email}" type="email" id="email"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="name@flowbite.com" required />
                            <p data-th-if="${#fields.hasErrors('email')}" data-th-errors="*{email}"
                                class="text-red-600 px-1 py-2 dark:text-red-200">
                                Name is required
                            </p>
                        </div>
                        <div class="mb-3">
                            <label for="password"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                            <input data-th-field="*{password}" type="password" id="password"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="name@flowbite.com" required />
                            <p data-th-if="${#fields.hasErrors('password')}" data-th-errors="*{password}"
                                class="text-red-600 px-1 py-2 dark:text-red-200">
                                Name is required
                            </p>
                        </div>
                        <div class="mb-3">
                            <label for="phone"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone</label>
                            <input data-th-field="*{phonenumber}" type="text" id="phone"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="name@flowbite.com" required />
                            <p data-th-if="${#fields.hasErrors('phonenumber')}" data-th-errors="*{phonenumber}"
                                class="text-red-600 px-1 py-2 dark:text-red-200">
                                Name is required
                            </p>
                        </div>

                        <div class="mb-3">
                            <label for="about"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">About</label>
                            <textarea data-th-field="*{about}" id="about" rows="4"
                                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Write your thoughts here..."></textarea>
                            <p data-th-if="${#fields.hasErrors('about')}" data-th-errors="*{about}"
                                class="text-red-600 px-1 py-2 dark:text-red-200">
                            </p>
                        </div>
                        <div class="mb-3 flex justify-center space-x-3">
                            <button type="submit"
                                class="px-4 py-2 text-white bg-blue-700 hover:bg-blue-800 dark:bg-gray-700 dark:hover:bg-gray-800 rounded-lg">
                                Sign up
                            </button>
                            <button
                                class="px-4 py-2 text-white rounded-lg bg-orange-900 hover:bg-orange-950  dark:bg-orange-800 dark:hover:bg-orange-950">
                                Reset
                            </button>
                        </div>
                    </form>

                </div>
            </div>

        </div>

    </div>
</body>

</html>