<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::.service},~{::title},~{})}">
<head>
    <title>Service</title>
</head>
<body>
    <div class="service">
        <div class="container">
            <h1>Service Page</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Corrupti illum at repudiandae tempore animi labore ipsa quo ducimus nobis, exercitationem quis a. Quibusdam quae dolores 
                quidem maxime adipisci. Blanditiis, dolores.</p>
        </div>
    </div>
</body>
</html>